*{
  box-sizing: border-box;
}
.chat-dialog{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.messages{
  flex-basis: 540px;
  flex-grow: 2;
  flex-shrink: 100;
  overflow-y: scroll;
  background-image: url("../../../img/6-fon-dlya-sayta.jpg");
}
.messages h1{
  color: #ffffff;
  text-align: center;
}
.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  margin: 0 15px 10px;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;
}
.message.to {
  flex-direction: row-reverse;
  background-color: #2095FE;
  color: #fff;
  margin-left: 100px;
  text-align: right;
}

.message.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 100px;
}

.message.to + .message.to,
.message.from + .message.from {
  margin-top: -10px;
  letter-spacing: 0.6px;
}
.message__content{
  display: flex;
  flex-direction: column;
}

.message__time{
  font-size: 12px;
  color: #727272;
}

.formSend{
  display: flex;
  position: relative;
  align-self: flex-end;
  width: 100%;
  flex-basis: auto;
  background: #ffffff;
}

.formSend__button{
  display: none;
}
.formSend__button-label{
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background: url("../../../img/paper-plane.png") no-repeat center;
  background-size: 32px 32px;
}
.formSend__text{
  display: flex;
  flex-grow: 5;
  width: calc( 100% - 100px );
  margin-left: 20px;
  resize: none;
  font-size: 20px;
  line-height: 34px;
  color: #333333;
  overflow: visible;
  outline: none;
  border: none;
}

.formSend__label{
  width: 100%;

}
.formSend__clear{
  display: flex;
  position: absolute;
  top: -20px;
  width: auto;
  height: 20px;
  font-size: 14px;
  background: #ffffff;
  font-family: "Georgia";
  border: 1px solid #dedede;
}
.formSend__clear-label{
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background: url("../../../img/iconmonstr-gear-1-32.png") no-repeat center;
  background-size: 28px 28px;
}

