.message {
  border-radius: 50px;
  margin: 0 15px 10px;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;
}
.message.to {
  background-color: #2095FE;
  color: #fff;
  margin-left: 100px;
  text-align: right;
}



.message.to .message__time{
  position: absolute;
  left: 10px;
}
.message.from .message__time{
  position: absolute;
  right: 10px;
}



.message.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 100px;
}

.message.to + .message.to,
.message.from + .message.from {
  margin-top: -10px;
  letter-spacing: 0.6px;
}

.message__button{
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.message__save{
  right: 50px;
}


.message__text{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border: 1px solid #727272!important;
  margin: 0!important;
  padding-left: 10px;
}

.message__label{
  position: absolute;
  bottom: 50px;
  left: 10px;
}
.message__time{
  font-size: 12px;
  color: #727272;
}



