<div class="messages">
  <h1>Angular Bot {{user?.username}}</h1>
  <div *ngFor="let message of messages | async">

    <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                    'to':   message.sentBy === 'user' }">
      <div *ngIf="message.sentBy ? message.sentBy === 'bot' : message.sentBy === 'user' ">{{user?.username}}</div>
      {{ message.content }}
      <span class="message__time">
      {{message.date | date : "h:mm:ss"}}
    </span>

    </div>
  </div>
</div>
<form action="message" class="formSend">
  <label class="formSend__label"></label>
  <input class="formSend__text" [(ngModel)]="formValue" (keyup.enter)="sendMessage()" placeholder="Your Message" name="message">
  <button class="formSend__button" (click)="sendMessage()" name="massage">Send</button>
</form>






