.userList{
  display: inline-block;
  min-width: 300px;
  width: 30%;
  height: 100%;
  background: #ffffff;
  padding-top: 20px;
  overflow-y: scroll;
}
.userList ul{
  list-style: none;
  padding: 0;
}
.user{
  display: flex;
  align-items: center;
  height: 80px;

}
.user a{
  margin-left: 10px;
  font-family: 'Helvetica';
  text-decoration: none;
  color: #1b1b1b;
  font-size: 18px;
}

.app{
  display: flex;
  width: 900px;
  height: 600px;
  margin: 40px 0 0 40px;
  box-shadow: 0 0 3px 3px #d2d3d6;
}
.chat{
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/6-fon-dlya-sayta.jpg");
}

.home{
  font-size: 26px;
  font-family: 'Georgia';
  text-align: center;
  text-decoration: none;
}
.home a{
  text-decoration: none;
}

.user__img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  margin-left: 30px;
  border-radius: 50%;
  background: url("../img/generic-user-purple.png") no-repeat center ;
  background-size: 58px 58px;
}
