.userList{
  display: inline-block;
  min-width: 300px;
  width: 30%;
  height: 100%;
  background: #ffffff;
  padding-top: 20px;
  overflow-y: scroll;
}
.userList ul{
  list-style: none;
  padding: 0;
}
.user{
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 30px;
}
.user a{
  font-family: "Franklin Gothic Medium";
  text-decoration: none;
  color: #7e7e7e;
  font-size: 20px;
}


.app{
  display: flex;
  width: 900px;
  height: 600px;
  margin: 40px 0 0 40px;
  /*border: 1px solid #2095FE;*/
  box-shadow: 0 0 3px 3px #d2d3d6;
}
.chat{
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/fon-dlya-chata-12.jpg");
}

.home{
  font-size: 26px;
  text-align: center;
  font-family: fantasy;
}

